<p id="notice"><%= notice %></p>

<h1>Listing Admits</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admits.each do |admit| %>
      <tr>
        <td><%= link_to 'Show', admit %></td>
        <td><%= link_to 'Edit', edit_admit_path(admit) %></td>
        <td><%= link_to 'Destroy', admit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admit', new_admit_path %>
